body {
    margin: 0;
    color: #fbbf24;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.header {
    height: 500px;
    background-color: #4b5563;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-photo {
    height: 600px;
}

.aboutme {
    font-size: 30px;
}

.big-text {
    font-size: 60px;
    font-weight: bolder;
}

/*projects*/
.projects {
    height: 600px;
    background-color: #6b7280
}

/*footer*/
.footer {
    height: 400px;
    background-color: #4b5563;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

i {
    font-size: 50px;
}

i:hover {
    cursor: pointer;
}

.phone-icon,
.mail-icon {
    width: 50px;
}

.phone-div,
.mail-div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.contactme {
    font-size: 50px;
    font-weight: bold;
}

.address {
    font-size: 30px;
}

.links {
    display: flex;
    gap: 20px;
}