body {
    margin: 0;
    color: #fbbf24;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.header {
    min-height: 500px;
    background-color: #4b5563;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.my-photo {
    height: 600px;
}

.aboutme {
    font-size: 30px;
}

.big-text {
    font-size: 60px;
    font-weight: bolder;
}

/*projects*/
.projects-section {
    min-height: 1600px;
    background-color: #6b7280;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projects-title {
    font-size: 50px;
    font-weight: bold;
}

.projects {
    display: grid;
    grid-template: repeat(auto-fill, minmax(200px, 800px)) / repeat(auto-fill, minmax(200px, 800px));
    gap: 90px;
}

.p {
    background-color: #4b5563;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screen {
    width: 100%;
}

.desc {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    font-size: 40px;
}

.project-desc {
    font-size: 20px;
}

.links {
    display: flex;
    gap: 15px;
}

.link {
    height: 50px;
}

.link:hover {
    cursor: pointer;
}

/*footer*/
.footer {
    min-height: 400px;
    background-color: #4b5563;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

i {
    font-size: 50px;
}

i:hover {
    cursor: pointer;
}

.phone-icon,
.mail-icon {
    width: 50px;
}

.phone-div,
.mail-div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.contactme {
    font-size: 50px;
    font-weight: bold;
}

.address {
    font-size: 30px;
}

.contact-links {
    display: flex;
    gap: 20px;
}


/*media queries*/
@media (max-width: 600px) {
    .big-text {
        font-size: 30px;
        font-weight: bolder;
    }

    .aboutme {
        font-size: 15px;
    }

    .my-photo {
        height: 300px;
    }

    .projects-section {
        padding: 20px;
    }
}